<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr4" version="4.5-alpha003" targetFramework="net45" />
  <package id="Antlr4.Runtime" version="4.5-alpha003" targetFramework="net45" />
  <package id="Farsi.Library" version="2.5.1.5" targetFramework="net45" />
  <package id="FastColoredTextBox" version="1.0.0" targetFramework="net45" />
  <package id="FCTB" version="2.16.11.0" targetFramework="net45" />
</packages>